*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    
}
li{
    list-style: none;
}
.green{
    color: #30b868;
}




#header,#banner-section,#structure-section,#solution,#think {
    width:80%;
    max-width: 1000px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar ul{
     display: flex;
     width: 365px;
    justify-content: space-between;
}
.green_button{
    background-color: #30b868;
    color:white;
    padding : 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.green_button img{
    vertical-align: middle;;
}


.filter_button{
    background-color: transparent;
    color:white;
    padding : 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
}

#banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.banner-section{
    height:380px;
    padding: 120px 0;
}
.banner-text{
    width :770px;
    margin: 0 auto;
    text-align: center;
}
.banner-text h1{
    font-size : 58px;
    color: white;
    text-transform: capitalize;
    padding: 16px 0;

}
.banner-text p{
    color : white;
    font-size: 18px;
    padding-bottom: 16px;

}

#structure-section{
   text-align: center;;
}
.structure-card{
    padding-top: 120px;
    
}

.structure-card h1{
    font-size: 48px;
    text-transform: capitalize;
    
}
.structure-card p{
    color: #627382;
    font-size: 18px;
    padding: 16px 0;
}
.structure-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
}
.card-icon{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0 auto;

}

.card-icon img{
    padding: 15px;
}

.card{
    width: 200px;
    height: 200px;
    padding: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.card-info h4{
    padding: 16px 0;
    font-size: 20px;
    text-transform: capitalize;

}
.card-info p{
    font-size: 16px;
    color: #627382;

}
.solution-section{
    display: flex;
    padding: 120px 0;
    justify-content: space-between;
}
.img-content{
    width: 450px;
}
.img-content img{
    width: 100%;
}
.solution-content{
    width: 500px;
    padding: 30px 15px;

}
.solution-content h1{
    font-size: 48px;
    text-transform: capitalize;
}   
.solution-content p{
    color: #627382;
    font-size: 16px;
    padding: 16px 0;
}   
.solution-content ul{
    padding-top: 20px;
}
.solution-content ul li{
    font-size: 16px;
    padding-bottom: 12px;
    list-style: square;
    margin-left: 20px;
}









