*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    
}
li{
    list-style: none;
}
.green{
    color: #30b868;
}




#header,#banner-section {
    width:80%;
    max-width: 1000px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar ul{
     display: flex;
     width: 365px;
    justify-content: space-between;
}
.green_button{
    background-color: #30b868;
    color:white;
    padding : 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.green_button img{
    vertical-align: middle;;
}
.filter_button{
    background-color: transparent;
    color:white;
    padding : 12px 16px;
    border-radius: 4px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
}

#banner{
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.banner-section{
    height:380px;
    padding: 120px 0;
}
.banner-text{
    width :770px;
    margin: 0 auto;
    text-align: center;
}
.banner-text h1{
    font-size : 58px;
    color: white;
    text-transform: capitalize;
    padding: 16px 0;

}
.banner-text p{
    color : white;
    font-size: 18px;
    padding-bottom: 16px;

}













